* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --purple-900: #13131F;
  --purple-500: #8257E6;
  --gray-600: #282830;
  --gray-250: #C4C4C4;
  --gray-50: #FEFBFB;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-600);
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple-500);
  border: 2px solid transparent;
  background-clip: content-box;
}

body {
  background-color: var(--purple-900);
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
}

ul {
  list-style-type: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; 
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%; 
  }
}

