.header {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: var(--purple-500);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 3.75rem;

    li, a {
      color: var(--gray-250);
      font-weight: 500;
      transition: color .4s;
      cursor: pointer; 
      position: relative;

      transition: color 0.3s;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -7px;
        left: 0;
        background: var(--purple-500);
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
      &:hover {
        color: var(--gray-50);
      }
    }
  }

  button {
    border: 1px solid var(--purple-500);
    border-radius: 1.875rem;

    padding: .3125rem 1.25rem;

    background: transparent;

    font-family: 'Lexend Deca', sans-serif;
    color: var(--gray-50);
    font-size: 14px;

    transition: background-color .4s;
    cursor: pointer; 

    &:hover {
      background-color: var(--purple-500);
    }
  }
}