.header {
  background: rgba(19, 19, 31, 0.6);
  backdrop-filter: blur(25px);
  border-bottom: 1px solid rgba(114, 114, 126, 0.2);
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;

  .hamburguerReact {
    display: none;
  }
}

.headerContent {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: var(--purple-500);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 3.75rem;

    li, a {
      color: var(--gray-250);
      font-weight: 500;
      transition: color .4s;
      cursor: pointer; 
      position: relative;

      transition: color 0.3s;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -7px;
        left: 0;
        background: var(--purple-500);
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
      &:hover {
        color: var(--gray-50);
      }
    }

    li:last-child {
      margin-left: 5.25rem;


      &:hover::after {
        transform: scaleX(0);
      }
    }
  }

  button {
    border: 1px solid var(--purple-500);
    border-radius: 1.875rem;

    padding: .3125rem 1.25rem;

    background: transparent;

    font-family: 'Lexend Deca', sans-serif;
    color: var(--gray-50);
    font-size: 14px;

    transition: background-color .4s;
    cursor: pointer; 

    &:hover {
      background-color: var(--purple-500);
    }
  }
} 

// MEDIA QUERIES 

@media (max-width: 1180px) {
  .header {
    padding: 0 3%;

    .hamburguerReact {
      display: block;
    }
  }

  .headerContent {
    ul {
      display: block;
      position: absolute;
      width: 0;
      top: 70px;
      left: 0;
      height: calc(100vh - 70px);
      background: var(--purple-900);
      transition: 0.6s;
      z-index: 1000;
      visibility: hidden;
      overflow-x: hidden;
      
      li {
        margin: 2rem 3%;
        color: var(--gray-50);
        white-space: nowrap;
        font-size: 1.25rem;

        &:hover::after {
          transform: scaleX(0);
        }

        &:last-child {
        margin-left: 3%;
        }
      }

      a:hover::after {
        transform: scaleX(0);
      }
    }

    button {
      border: none;
      padding: 0;
      color: var(--gray-250);
      transition: color 0.3s;
      font-size: 1.25rem;
      
      &:hover {
        background-color: transparent;
        color: var(--gray-50);
      }
    }

    .activeNav ul {
      width: 100%;
      visibility: visible;
    }
  }
}
