.mostRecentNews {
  margin-top: 99px;

  h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: var(--gray-50);

    margin-bottom: 30px;
    
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 22%;
      height: 3px;
      bottom: -15px;
      left: 0;
      background-color: var(--purple-500);
    }
  }
}

.mostRecentNewsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 55px;
}